<div class="container error">
 {{!-- <h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2> --}}
{{!-- <img id="errorImage" src="../images/error404.jpeg" alt="error image" width="1000px"> --}}

<img id="error" src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659193756/errorOver_wxesd4.png" alt="image d'erreur 404">

<a href="/">Please take me back home</a>
</div>

