<div class="container games">

  <h1><a href="#"><img
        id="logoTitre"
        src="/images/diamond.png"
        alt="Titre"
      /></a>
    Games</h1>

</div>

<!--TEST ALAN -->
 <div> 
  coucou
  {{#each games}}
  cover:<img src={{cover}}>
  title:{{title}}
  categories:{{categoriesID.name}}
  {{/each }}
</div>
<!--TEST ALAN -->

