<div class="wrapper contact">
  <div class="parallax__group hero-container">
    <div class="parallax__layer full3"></div>
    <div class="parallax__layer back4"></div>
    <div class="parallax__layer objets"></div>
    <div class="parallax__layer sol"></div>
    <div class="parallax__layer cat"></div>
    <div class="parallax__layer people3"></div>
    <div class="parallax__layer hero-text">

      <div class="hello-container">
        <h1>Hey<span>⬇️</span></h1>
      </div>

    </div>
  </div>
  <div class="parallax__group run-container">
    <div class="home">

      <h1>Latest Runs</h1>
      <ul class="cards">
        <li>
          <a href="" class="card">
            <img
              src="http://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i.pinimg.com/736x/bc/4a/e5/bc4ae559a57000da4d74c0da4189f30a.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Adri Molina Lopez</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="" class="card">
            <img
              src="https://img-4.linternaute.com/uhzhgirb0Ffs2JYvUb7hw_7li8A=/1500x/smart/7798d89d3be549c4839370740df7340d/ccmcms-linternaute/16146575.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i.skyrock.net/2779/57332779/pics/2313130527_1.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alex</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://s1.gaming-cdn.com/images/products/4860/orig/the-legend-of-zelda-breath-of-the-wild-2-switch-switch-jeu-nintendo-eshop-europe-cover.jpg?v=1650531274"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/optim/i/edit/2022/06/joker%202%20big__w1200.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">ADRIANA MOLINA LOPEZ</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPOqRv2JcDQ-HskkllLebgKObbzJTRHxINona2twM-TTqWdnHiueTr-GSZvubwSlyYcJE&usqp=CAU"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alan ROGER</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://commondatastorage.googleapis.com/images.pricecharting.com/82534b3527d878518b17e3c43f67bea0cbb039cfe11f947700af55bdbda3ae79/240.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="http://www.topkool.com/fr/wp-content/uploads/2013/01/detective-conan-010.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alexandre LESCAT</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="http://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i.pinimg.com/736x/bc/4a/e5/bc4ae559a57000da4d74c0da4189f30a.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Adri MOLINA LOPEZ</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i.pinimg.com/736x/57/c3/ed/57c3ed78ceefa2c5048e38fd235dd66a.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alan ROGER</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="http://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i.pinimg.com/736x/bc/4a/e5/bc4ae559a57000da4d74c0da4189f30a.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Adri</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://commondatastorage.googleapis.com/images.pricecharting.com/82534b3527d878518b17e3c43f67bea0cbb039cfe11f947700af55bdbda3ae79/240.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://i0.wp.com/ulvespill.net/wp-content/uploads/2018/04/2763938-nathandrake.jpg?resize=460%2C480&ssl=1"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alan R</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="http://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/i/edit/2022/07/harley%20quinn%20S3%20Big.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Adri</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://img-4.linternaute.com/uhzhgirb0Ffs2JYvUb7hw_7li8A=/1500x/smart/7798d89d3be549c4839370740df7340d/ccmcms-linternaute/16146575.jpg"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://static.fnac-static.com/multimedia/Images/FD/Comete/135542/CCP_IMG_ORIGINAL/1777607.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Alexandre</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path></path>
                </svg>
                <img
                  class="card__avatar"
                  src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/i/edit/2022/07/harley%20quinn%20S3%20Big.jpg"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__userName">Adri Molina Lopez</h3>
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                YAY adipisicing elit. Asperiores, blanditiis?
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>