<nav class="container">
    <div>
        <img id="logo" src="./images/logoBam.svg" alt="logoAAA">

        <button>sign up ł Log in</button>
        
    </div>
    <div>

        
        <ul>
            <li>
                Games
            </li>
            <input type="search" id="site-search" name="q">
        <button>Search</button>    
        <img id="medal" src="./images/medal.svg" alt="premium Subscribe">
            <li>
                About
            </li>
        </ul>
    </div>
</nav>

</nav>
