{{!-- font awesome : ne marche qu'avec la version 5.15.4 pas au dessus --}}


{{!--                   $$\                       $$\ $$\                                                                 
                        \__|                      $$ |\__|                                                                
$$$$$$\$$$$\   $$$$$$\  $$\ $$$$$$$\         $$$$$$$ |$$\ $$\    $$\                                                      
$$  _$$  _$$\  \____$$\ $$ |$$  __$$\       $$  __$$ |$$ |\$$\  $$  |                                                     
$$ / $$ / $$ | $$$$$$$ |$$ |$$ |  $$ |      $$ /  $$ |$$ | \$$\$$  /                                                      
$$ | $$ | $$ |$$  __$$ |$$ |$$ |  $$ |      $$ |  $$ |$$ |  \$$$  /                                                       
$$ | $$ | $$ |\$$$$$$$ |$$ |$$ |  $$ |      \$$$$$$$ |$$ |   \$  /                                                        
\__| \__| \__| \_______|\__|\__|  \__|       \_______|\__|    \_/                                                         
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                        $$\   $$\               $$\             $$\                   $$\     $$\                         
                        \__|  $$ |              $$ |            $$ |                  $$ |    $$ |                        
 $$$$$$$\ $$\  $$\  $$\ $$\ $$$$$$\    $$$$$$$\ $$$$$$$\        $$$$$$$\  $$\   $$\ $$$$$$\ $$$$$$\    $$$$$$\  $$$$$$$\  
$$  _____|$$ | $$ | $$ |$$ |\_$$  _|  $$  _____|$$  __$$\       $$  __$$\ $$ |  $$ |\_$$  _|\_$$  _|  $$  __$$\ $$  __$$\ 
\$$$$$$\  $$ | $$ | $$ |$$ |  $$ |    $$ /      $$ |  $$ |      $$ |  $$ |$$ |  $$ |  $$ |    $$ |    $$ /  $$ |$$ |  $$ |
 \____$$\ $$ | $$ | $$ |$$ |  $$ |$$\ $$ |      $$ |  $$ |      $$ |  $$ |$$ |  $$ |  $$ |$$\ $$ |$$\ $$ |  $$ |$$ |  $$ |
$$$$$$$  |\$$$$$\$$$$  |$$ |  \$$$$  |\$$$$$$$\ $$ |  $$ |      $$$$$$$  |\$$$$$$  |  \$$$$  |\$$$$  |\$$$$$$  |$$ |  $$ |
\_______/  \_____\____/ \__|   \____/  \_______|\__|  \__|      \_______/  \______/    \____/  \____/  \______/ \__|  \__|
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                         
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                   $$\                                                                                    
                                   $$ |                                                                                   
 $$$$$$$\ $$$$$$\   $$$$$$\   $$$$$$$ |                                                                                   
$$  _____|\____$$\ $$  __$$\ $$  __$$ |                                                                                   
$$ /      $$$$$$$ |$$ |  \__|$$ /  $$ |                                                                                   
$$ |     $$  __$$ |$$ |      $$ |  $$ |                                                                                   
\$$$$$$$\\$$$$$$$ |$$ |      \$$$$$$$ |                                                                                   
 \_______|\_______|\__|       \_______|                                                                                   
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
 $$$$$$\                                $$\               $$\                           $$\                               
$$  __$$\                               $$ |              $$ |                          \__|                              
$$ /  \__|$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$\   $$\       $$ | $$$$$$\   $$$$$$\        $$\ $$$$$$$\                      
$$$$\    $$  __$$\ $$  __$$\ $$  __$$\\_$$  _|  \__|      $$ |$$  __$$\ $$  __$$\       $$ |$$  __$$\                     
$$  _|   $$ |  \__|$$ /  $$ |$$ |  $$ | $$ |              $$ |$$ /  $$ |$$ /  $$ |      $$ |$$ |  $$ |                    
$$ |     $$ |      $$ |  $$ |$$ |  $$ | $$ |$$\ $$\       $$ |$$ |  $$ |$$ |  $$ |      $$ |$$ |  $$ |                    
$$ |     $$ |      \$$$$$$  |$$ |  $$ | \$$$$  |\__|      $$ |\$$$$$$  |\$$$$$$$ |      $$ |$$ |  $$ |                    
\__|     \__|       \______/ \__|  \__|  \____/           \__| \______/  \____$$ |      \__|\__|  \__|                    
                                                                        $$\   $$ |                                        
                                                                        \$$$$$$  |                                        
                                                                         \______/                                         
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                          
                                                                                                                                                                                                           
                                                                                                                          
$$\                           $$\                           $$\                                                           
$$ |                          $$ |                          \__|                                                          
$$$$$$$\   $$$$$$\   $$$$$$$\ $$ |  $$\ $$\        $$$$$$$\ $$\  $$$$$$\  $$$$$$$\        $$\   $$\  $$$$$$\              
$$  __$$\  \____$$\ $$  _____|$$ | $$  |\__|      $$  _____|$$ |$$  __$$\ $$  __$$\       $$ |  $$ |$$  __$$\             
$$ |  $$ | $$$$$$$ |$$ /      $$$$$$  /           \$$$$$$\  $$ |$$ /  $$ |$$ |  $$ |      $$ |  $$ |$$ /  $$ |            
$$ |  $$ |$$  __$$ |$$ |      $$  _$$$  $$\        \____$$\ $$ |$$ |  $$ |$$ |  $$ |      $$ |  $$ |$$ |  $$ |            
$$$$$$$  |\$$$$$$$ |\$$$$$$$\ $$ | \$$\ \__|      $$$$$$$  |$$ |\$$$$$$$ |$$ |  $$ |      \$$$$$$  |$$$$$$$  |            
\_______/  \_______| \_______|\__|  \__|          \_______/ \__| \____$$ |\__|  \__|       \______/ $$  ____/             
                                                                $$\   $$ |                          $$ |                  
                                                                \$$$$$$  |                          $$ |                  
                                                                 \______/                           \__|                   --}}








<p>SIGN UP</p>
<form action="/signup" method="POST">
<label>
    username<input type="string" name="username" placeholder="your username" >
</label> 
<label>
    <i class="fas fa-at"></i>
    email<input type="email" name="email" placeholder="your e-mail" >
</label>
<label>
    password<input type="password" name="password" placeholder="your password">
</label>
{{!-- <label>
    confirm password <input type="password" name="confirmPassword">
</label> --}}
<i class="fas fa-eye"></i>
<i class="fas fa-eye-slash"></i>
<button type="submit">Sign up</button>
</form>

<br>

<p>LOG IN</p>
<form action="/login" method="POST">
<label>
    username <input type="string" name="username" placeholder="your username" >
</label>
<i class="fas fa-at"></i>
<label>
    email<input type="email" name="email" placeholder="your e-mail">    

</label>
<label>
    password<input type="password" name="password" placeholder="your password">
</label>
<button type="submit">Log in</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}