<p>signup</p>
<form action="/signup" method="POST">
<label>
    username<input type="string" name="username" >
</label>
<label>
    email<input type="email" name="email" >
</label>
<label>
    password<input type="password" name="password">
</label>
<label>
    confirm password <input type="password" name="confirmPassword">
</label>
<button type="submit">SIGN UP</button>
</form>


<p>login</p>
<form action="/login" method="POST">
<label>
    username<input type="string" name="username" >
</label>
<label>
    email<input type="email" name="email" >
</label>
<label>
    password<input type="password" name="password">
</label>
<button type="submit">LOG IN</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}