<!-- navbar Mobile -->
<div class="navbar-mobile">
  <i class="fas fa-bars"></i>

  <div class="modal">
    <div class="navbar-mobile-list">
      <a href="">
        <img
          id="logoSymbol"
          src="/images/logoSymbol.svg"
          alt="logoSymbol"
          width="100px"
        />
      </a>
      <a href="#">GAMES</a>
      <a href="#">LOGIN SIGN UP</a>
      <a href="#">SEARCH 🔍</a>
      <a href="#">PREMIUM</a>
      <a href="#">ABOUT</a>
    </div>
  </div>
</div>

<!-- navbar Desktop -->
<div class="navbar-desktop">
  <a href="#">
    <img src="/images/logoBam.svg" alt="logo" width="180px" />
  </a>
  <a href="#">GAMES</a>
  <a href="#">
    <img src="/images/medal.svg" alt="premium Subscribe" width="40px" />
  </a>
  <input type="search" />
  <button>🔍</button>
  <a href="#">ABOUT</a>
  <a href="#">CONTACT</a>
</div>

<div class="container">
  <h1>Checkout</h1>
  <div id="errors-output" role="alert"></div>
  <form action="/token" id="my-sample-form" method="post">
    <div class="form-group">
      <label for="cardholderName">Name</label>
      <input
        id="cardholderName"
        class="form-control"
        name="cardholderName"
        placeholder="Name on the card"
      />
      <label id="cardNumber-label">Card Number</label>
      <div id="number-container" class="form-control"></div>
      <label for="securityCode-container">Security Code</label>
      <div id="securityCode-container" class="form-control"></div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="expMonth">Expiry month</label>
        <select id="expMonth" class="form-control">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="expYear">Expiry year</label>
        <select id="expYear" class="form-control">
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
        </select>
      </div>
    </div>

    <button type="button" id="pay-button" class="btn btn-primary">Pay</button>
    <input type="hidden" id="flexresponse" name="flexresponse" />
  </form>

</div>

<script
  src="https://flex.cybersource.com/cybersource/assets/microform/0.11/flex-microform.min.js"
></script>