<!-- MAIN -->
<div class="logIn">
  <div class="auth-container">
    <!-- switch button -->
    <h2><span>ABO</span>|<span>BUCK</span></h2>
    <input class="checkbox" type="checkbox" id="switch" name="switch" />
    <label for="switch"></label>

    <!-- 3d card -->
    <div class="card-3d-wrap">
      <div class="card-3d-wrapper">

        <!-- RECURRING/ABONNEMENT -->
        <div class="card-front-abo">
          <div class="center-wrap-abo">
            <h3>BECOME AN AAA PREMIUM</h3>
  <ul>
    <li>AD-FREE</li>
    <li>ADD-GAME</li>
    <li>PREMIUM BADGE</li>
    <li>SUPPORT AAA</li>
    <li>10 AAA BUCK</li>
    <button class="abo-btn"> Pay 3,99€ now </button>
  </ul>
  <img class="paymentMethode" src="https://res.cloudinary.com/du5v6izdd/image/upload/v1660231366/AAA%20speedrun%20/payment-type_nrni9k.png"/>
        </div>
        <P>Your membership starts as soon as you set up payment.
No commitments.
Cancel online anytime.</P>
        

        <!-- AAA-BUCK PURCHASE CARD -->
        <div class="card-signUp">
          <div class="center-wrap">
                      <h3>Add some Buck to your account</h3>
  <ul>
    <br>
    <li>SUPPORT AAA</li><br>
    <li>10 AAA BUCK</li><br>
    <button class="abo-btn"> Pay 1,99€ now </button>
  </ul>
   <img class="paymentMethode" src="https://res.cloudinary.com/du5v6izdd/image/upload/v1660231366/AAA%20speedrun%20/payment-type_nrni9k.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
