
<section class="premium-container">
  <h1>BECOME AN AAA PREMIUM</h1>
  <div class="purchase-choice">
    <h2><span>RECURRING</span> | <span>AAA-BUCK</span></h2>
    <!--button select premium-->
  
<button class="premium-choice-btn"></button>
<!-- cartes abonnement-->
<div class="card-3d-wrap">
  <ul>
    <li>ADD-FREE</li>
    <li>ADD-GAME</li>
    <li>PREMIUM BADGE</li>
    <li>SUPPORT AAA</li>
    <li>10 AAA BUCK</li>
    <button class="pay-abo">3,99€</button>
  </ul>

</div>
  </div>
</section>