{{! HAS TO BE AUTHentificated }}

<div class="PROFILE">
  <section class="userSection">

    <h1>
      <span id="greetings">
      </span>
      Amolina
    </h1>

    <img
      id="profile-userImg-desktop"
      class="profile-userImg-mobile"
      src="https://i.pinimg.com/originals/e6/dc/33/e6dc336c9e45d825db8fe7305ed729ee.png"
      alt="User image"
    />

    <h3 class="userCountry">
      Country
    </h3>

  </section>

 <div class="profile-mobile"></div>
    <section class="profile-user-runs">
      <div class="profile-run">

        <img
          src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
          alt="game speedrun image"
        />
        <h4 id="profile-rank">10</h4>
        <h4>Stray </h4>

        <div class="profile-run-info">
          <h5>01:31:18 </h5>
          <h5>Category</h5>
          <h5>05/04/2021</h5>
          <h5> <i class="fab fa-youtube fa-lg"></i></h5>
        </div>

      </div>

      <div class="profile-run">

        <img
          src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
          alt="game speedrun image"
        />
        <h4 id="profile-rank">10</h4>
        <h4>Stray </h4>

        <div class="profile-run-info">
          <h5>01:31:18 </h5>
          <h5>Category</h5>
          <h5>05/04/2021</h5>
          <h5> <i class="fab fa-youtube fa-lg"></i></h5>
        </div>

      </div>

      <div class="profile-run">

        <img
          src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
          alt="game speedrun image"
        />
        <h4 id="profile-rank">10</h4>
        <h4>Stray </h4>

        <div class="profile-run-info">
          <h5>01:31:18 </h5>
          <h5>Category</h5>
          <h5>05/04/2021</h5>
          <h5> <i class="fab fa-youtube fa-lg"></i></h5>
        </div>

      </div>

      <div class="profile-run">

        <img
          src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
          alt="game speedrun image"
        />
        <h4 id="profile-rank">10</h4>
        <h4> Mario 64 </h4>

        <div class="profile-run-info">
          <h5>01:31:18 </h5>
          <h5>Category</h5>
          <h5>05/04/2021</h5>
          <h5> <i class="fab fa-youtube fa-lg"></i></h5>
        </div>

      </div>

      <div class="profile-run">

        <img
          src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
          alt="game speedrun image"
        />
        <h4 id="profile-rank">10</h4>
        <h4>Stray </h4>

        <div class="profile-run-info">
          <h5>01:31:18 </h5>
          <h5>Category</h5>
          <h5>05/04/2021</h5>
          <h5> <i class="fab fa-youtube fa-lg"></i></h5>
        </div>

      </div>
    </section>

  </div>



  <div class="profile-desktop">

  </div>

</div>

 <script src="/js/profile.js"></script>