{{! HAS TO BE AUTHentificated }}
<div class="profile">

  <section class="userSection">

    <h1>
      Hello amolina
      {{!-- {{user.name}} --}}
    </h1>

    <img
      id="profile-userImg-desktop"
      class="profile-userImg-mobile"
      src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1660403914/AMLphotoDeProfileROSE_ushbpr.png"
      alt="User image"
    />

    <h3 class="userCountry">
      Country
    </h3>

  </section>

  <section class="profile-user-runs">
    <div class="profile-run">
      <img
        src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
        alt="game speedrun image"
      />
        <h4>1</h4>
      <h4>Stray</h4>
    </div>

  </section>

  {{!-- coucou YOU {{user.name}} --}}
</div>