:root {
  /* COLORS */
  --surface-color: #322c32;
  --background-dark: #2c3231;
  --white: #ffffff;
  --red-Navbar: #741135;

  /* SHADOWS */
  --blue-shadow: 0 4px 44px 0 rgba(116, 17, 51, 0.1);
  --red-shadow: 0 4px 14px 0 rgba(255, 109, 109, 0.3);

  /* FONTS */
  --title-font: "Chakra Petch";
  --main-font: "sans-serif";

  /* RADIUS */
  /* --small-radius: 5px; */
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Chakra Petch", sans-serif;
  color: #f2e3cf;
  background-image: linear-gradient(var(--background-dark), #322c32);
  /* background-color: var(--background-dark);; */
}

/* DESKTOP */
.navbar-desktop {
  background-color: #322c32;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  height: 70px;
  text-align: center;
  width: 100%;
  z-index: 1;
  gap: 20px;
  /* margin-bottom: 20px; */
}

.navbar-desktop a {
  padding: 10px;
  color: #f2e3cf;
  font-size: 20px;
  text-decoration: none;
}

.navbar-desktop input {
  font-size: 24px;
  height: 36px;
  border: #f7f7f7;
  border-radius: 5px;
}

.navbar-desktop button {
  font-size: 24px;
  background-color: #f7f7f7;
  padding: 2px;
  border-radius: 5px;
  border: #f7f7f7;
}

.navbar-desktop button:hover {
  background-color: rgb(74, 152, 171);
  cursor: pointer;
}

/* MOBILE */
.navbar-mobile {
  display: none;
  margin-bottom: 1px;
}
.navbar-mobile a {
  text-decoration: none;
}

.navbar-mobile a:hover {
  cursor: po;
}

.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.modal {
  transition: top 0.9s;
  /* background-color: rgb(116, 17, 53); */
  background-color: #5d2030;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.98;
  z-index: 1;
}

.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
  font-size: 50px;
  font-weight: 800;
  color: #f5f5dc;
  padding: 20px;
}
.change-modal {
  top: 0;
}

/* CONTAINERS */
/* .container {
  color: beige;
} */

/* ERRROR PAGE */
.error {
  padding: 0px;
  padding-top: 100px;

  text-align: center;
  color: white;
}
/* error image */
#error {
  width: 100vw;
}

.error a {
  color: #f2e3cf;
  text-decoration: none;
  position: absolute;

  bottom: 8px;
  right: 16px;
}

/* HOMEPAGE */

.home {
  box-sizing: border-box;
  margin-inline: 100px;
}

.home h1 {
  text-align: center;
}

.cards {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: 10px;
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  /* ici pour changer taille detail area */
  padding: 20px;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

/* img user */
.card__avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__userName {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  display: -webkit-box;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}
