:root {
  /* COLORS */
  --card-surface-color: #301f2e;
  --background-dark: #161516;
  --white: #ffffff;
  --red-Navbar: #5d2043;
  --orange: #ffaf12;
  --backcolor-nav-btn: #454545;

  /* SHADOWS */

  /* FONTS */
  --main-font: "Chakra Petch";
}


body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--white);

  /* background-color: #322c32; */
  /* background-color: var(--background-dark);; */

  background-color: var(--background-dark);

}

/* 
                               /$$                          
                               | $$                          
/$$$$$$$   /$$$$$$  /$$    /$$ | $$$$$$$   /$$$$$$   /$$$$$$ 
| $$__  $$ |____  $$|  $$  /$$/| $$__  $$ |____  $$ /$$__  $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$  \ $$  /$$$$$$$| $$  \__/
| $$  | $$ /$$__  $$  \  $$$/  | $$  | $$ /$$__  $$| $$      
| $$  | $$|  $$$$$$$   \  $/   | $$$$$$$/|  $$$$$$$| $$      
|__/  |__/ \_______/    \_/    |_______/  \_______/|__/      
                               */

/* DESKTOP */
.navbar-desktop {
  background-color: #322c32;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
  text-align: center;
  width: 100%;
  z-index: 1;
  gap: 20px;
}

.navbar-desktop a {
  padding: 10px;
  color: var(--white);
  font-size: 24px;
  text-decoration: none;
}

.navbar-desktop a:hover {
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}

.navbar-desktop input {
  font-size: 26px;
  height: 36px;
  border: var(--white);
  border-radius: 5px;
  background-color: var(--backcolor-nav-btn);
  color: var(--white);
  padding: 5px;
}

input::placeholder {
  color: rgba(135, 135, 135, 0.555);
  font-size: 18px;
  padding-left: 10px;
  font-family: "Chakra Petch", sans-serif;
}

.navbar-desktop button {
  font-size: 26px;
  background-color: var(--backcolor-nav-btn);
  padding: 2px;
  border-radius: 5px;
  border: var(--white);
  font-family: "Chakra Petch", sans-serif;
  transition: all 0.3s ease-in-out;
}

.navbar-desktop button:hover {
  background-color: #380b37;
  cursor: pointer;
}

/* MOBILE */
.navbar-mobile {
  display: none;
  margin-bottom: 1px;
}
.navbar-mobile a {
  text-decoration: none;
}

.navbar-mobile a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 40px;
  color: var(--white);
  text-decoration: none;
}

.modal {
  transition: top 0.9s;
  /* background-color: rgb(116, 17, 53); */
  background-color: var(--red-Navbar);
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.98;
  z-index: 1;
}

#logoSymbol {
  color: var(--white);
}

.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
  font-size: 50px;
  font-weight: 800;
  color: #f5f5dc;
  padding: 20px;
}
.change-modal {
  top: 0;
}

/* CONTAINERS */
/* .container {
  color: beige;
} */

/*                                                   
  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ 
 /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$$$$$$$| $$  \__/| $$  \__/| $$  \ $$| $$  \__/
| $$_____/| $$      | $$      | $$  | $$| $$      
|  $$$$$$$| $$      | $$      |  $$$$$$/| $$      
\_______/|__/      |__/       \______/ |__/      
                                                 
                                                  */

/* ERRROR PAGE */
.error {
  padding: 0px;
  text-align: center;
  color: var(--white);
}
/* error image */
#error {
  width: 100vw;
}

.error a {
  color: #f2e3cf;
  text-decoration: none;
  position: absolute;

  bottom: 8px;
  right: 16px;
}

/* 
/$$                                                                                
| $$                                                                                
| $$$$$$$   /$$$$$$  /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$| $$_  $$_  $$ /$$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$  \ $$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  /$$$$$$$| $$  \ $$| $$$$$$$$
| $$  | $$| $$  | $$| $$ | $$ | $$| $$_____/| $$  | $$ /$$__  $$| $$  | $$| $$_____/
| $$  | $$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$| $$$$$$$/|  $$$$$$$|  $$$$$$$|  $$$$$$$
|__/  |__/ \______/ |__/ |__/ |__/ \_______/| $$____/  \_______/ \____  $$ \_______/
                                            | $$                 /$$  \ $$          
                                            | $$                |  $$$$$$/          
                                            |__/                 \______/           
 */

/* voir homepage + parallax */

.home {
  box-sizing: border-box;
  margin-inline: 50px;
}

.home h1 {
  text-align: center;
  padding: 20px;
  margin-top: 20px;

  /* NEON */
  color: var(--white);
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(99, 10, 80), 0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80), 0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469), 0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

.cards {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 270px;
  border-radius: 30px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: 10px;
  background-color: var(--card-surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  /* ici pour changer taille detail area */
  padding: 20px;
  background-color: var(--card-surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--card-surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

/* img user */
.card__avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__userName {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #fff7f9;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: #ffd4e9;
}

.card__status {
  font-size: 18px;
  color: #dbb5df;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: var(--white);
  display: -webkit-box;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1160px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}

/* 
                                       /$$ /$$                           /$$                                    
                                       | $$| $$                          | $$                                    
  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$ | $$| $$  /$$$$$$  /$$   /$$      | $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ 
 /$$__  $$ |____  $$ /$$__  $$|____  $$| $$| $$ |____  $$|  $$ /$$/      | $$__  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$  /$$$$$$$| $$  \__/ /$$$$$$$| $$| $$  /$$$$$$$ \  $$$$/       | $$  \ $$| $$$$$$$$| $$  \__/| $$$$$$$$
| $$  | $$ /$$__  $$| $$      /$$__  $$| $$| $$ /$$__  $$  >$$  $$       | $$  | $$| $$_____/| $$      | $$_____/
| $$$$$$$/|  $$$$$$$| $$     |  $$$$$$$| $$| $$|  $$$$$$$ /$$/\  $$      | $$  | $$|  $$$$$$$| $$      |  $$$$$$$
| $$____/  \_______/|__/      \_______/|__/|__/ \_______/|__/  \__/      |__/  |__/ \_______/|__/       \_______/
| $$                                                                                                             
| $$                                                                                                             
|__/                                                                                                             
*/

/* TEST PARALLAX */

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  /* background-color: #000; */
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full3 {
  background: url("/images/full3.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.back4 {
  background: url("/images/layer4.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.objets {
  background: url("/images/layer3.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.sol {
  background: url("/images/layer2love.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.cat {
  background: url("/images/layer1.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.hello-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
  height: 25rem;
}

.hello-container h1 {
  font-weight: 300;
  position: absolute;
  font-size: 150px;
  color: var(--white);
  text-shadow: -5px 10px rgba(0, 0, 0, 0.618);
}

.hello-container h1 span {
  font-size: 30px;
  margin-left: 10px;
}

.run-container {
  background: #000;
}

.run-container h1 {
  padding-block: 50px;
}

@media (min-width: 2690px) {
  .full3,
  .back4,
  .objets,
  .sol,
  .hero-text {
    background-size: contain;
  }
}

/* 
         $$\                             $$\     
         $$ |                            $$ |    
$$$$$$\  $$$$$$$\   $$$$$$\  $$\   $$\ $$$$$$\   
\____$$\ $$  __$$\ $$  __$$\ $$ |  $$ |\_$$  _|  
$$$$$$$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |  $$ |    
$$  __$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ | $$ |$$\ 
\$$$$$$$ |$$$$$$$  |\$$$$$$  |\$$$$$$  | \$$$$  |
\_______|\_______/  \______/  \______/    \____/ 
                                        
                                         */

/* ABOUT */

.about {
  margin: 50px;
}

.logo-contact {
  text-decoration: none;
}

#logoTitre {
  width: 50px;
  display: flex;
  margin: 0;
}

footer {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 100px;
  border-radius: 50px;
}
.logo-contact img {
  width: 100px;
  padding-inline: 20px;
}

.about h1 {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;

  /* neon */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(99, 10, 80), 0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80), 0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469), 0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

/*                                                       
                                                      
$$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\   $$$$$$$\ 
$$  __$$\  \____$$\ $$  _$$  _$$\ $$  __$$\ $$  _____|
$$ /  $$ | $$$$$$$ |$$ / $$ / $$ |$$$$$$$$ |\$$$$$$\  
$$ |  $$ |$$  __$$ |$$ | $$ | $$ |$$   ____| \____$$\ 
\$$$$$$$ |\$$$$$$$ |$$ | $$ | $$ |\$$$$$$$\ $$$$$$$  |
 \____$$ | \_______|\__| \__| \__| \_______|\_______/ 
$$\   $$ |                                            
\$$$$$$  |                                            
 \______/                                             
 */

/* GAMES */

.games h1 {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;

  /* neon */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(99, 10, 80), 0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80), 0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469), 0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

.games {
  margin: 50px;
}

/* 

                                            /$$\                         
                                            \__|                        
$$$$$$\   $$$$$$\   $$$$$$\  $$$$$$\$$$$\  $$\ $$\   $$\ $$$$$$\$$$$\  
$$  __$$\ $$  __$$\ $$  __$$\ $$  _$$  _$$\ $$ |$$ |  $$ |$$  _$$  _$$\ 
$$ /  $$ |$$ |  \__|$$$$$$$$ |$$ / $$ / $$ |$$ |$$ |  $$ |$$ / $$ / $$ |
$$ |  $$ |$$ |      $$   ____|$$ | $$ | $$ |$$ |$$ |  $$ |$$ | $$ | $$ |
$$$$$$$  |$$ |      \$$$$$$$\ $$ | $$ | $$ |$$ |\$$$$$$  |$$ | $$ | $$ |
$$  ____/ \__|       \_______|\__| \__| \__|\__| \______/ \__| \__| \__|
$$ |                                                                    
$$ |                                                                    
\__|                                                                    
                       */

.center-wrap-abo {
  padding: 30px;
  display: block;
}

.card-front-abo,
.card-back-buck {
  width: 100%;
  min-height: 80%;
  background-color: #575656;
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 3px 30px 0 rgba(241, 201, 242, 0.703);
  transform-origin: center top;
}

.card-front-abo ul{
  padding: 0;
  text-align: center;
}

.card-front-abo h3{
  text-align: center;
}


.card-front-abo li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  border: solid 1px black;
  padding: 5px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}

.pay-abo {
  background-color: #04ca04;
  border-radius: 5px;
  padding: 8px;
  border: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.abo-btn {
  margin: 0px;
  padding: 20px;
  font-size: 24px;
  text-align: center;

  background: var(--orange);
  color: var(--white);

  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;

  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}

.abo-btn:hover {
  background-color: rgb(162, 43, 162);
  color: var(--white);
  cursor: pointer;
  padding-left: 40px;
}

.abo-btn:after {
  content: " »";
  font-size: 24px;
  /* position: absolute; */
  opacity: 0;
  top: 14px;
  transition: 0.6s;
}

.abo-btn:hover:after {
  opacity: 1;
  right: 10px;
}


/* Image LOGO card Scheme */

.paymentMethode {
  width: 19em;
 
}







/* PREMIUM */
.premium-container {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.premium-container h1 {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(99, 10, 80), 0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80), 0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469), 0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

/*.card-3d-wrap ul li {
<<<<<<< HEAD
=======
.card-3d-wrap ul li {
>>>>>>> 65d33d415300153d491f7a6a944087a2edddfa0a
  list-style: inside;
  color: white;
  list-style-type: none;
}*/

.purchase-choice h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .premium-choice-btn{
} */


.pay-abo:hover {
  background-color: #380b37;
  cursor: pointer;
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

/* 

                                                                 $$\     
                                                                 $$ |    
$$$$$$\   $$$$$$\  $$\   $$\ $$$$$$\$$$$\   $$$$$$\  $$$$$$$\ $$$$$$\   
$$  __$$\  \____$$\ $$ |  $$ |$$  _$$  _$$\ $$  __$$\ $$  __$$\\_$$  _|  
$$ /  $$ | $$$$$$$ |$$ |  $$ |$$ / $$ / $$ |$$$$$$$$ |$$ |  $$ | $$ |    
$$ |  $$ |$$  __$$ |$$ |  $$ |$$ | $$ | $$ |$$   ____|$$ |  $$ | $$ |$$\ 
$$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$ | $$ | $$ |\$$$$$$$\ $$ |  $$ | \$$$$  |
$$  ____/  \_______| \____$$ |\__| \__| \__| \_______|\__|  \__|  \____/ 
$$ |                $$\   $$ |                                           
$$ |                \$$$$$$  |                                           
\__|                 \______/                                            
 */

/* 

$$\                          $$$$$$\                  $$$$$$\  $$\                     $$$$$$\           
$$ |                         \_$$  _|                $$  __$$\ \__|                    \_$$  _|          
$$ |      $$$$$$\   $$$$$$\    $$ |  $$$$$$$\        $$ /  \__|$$\  $$$$$$\  $$$$$$$\    $$ |  $$$$$$$\  
$$ |     $$  __$$\ $$  __$$\   $$ |  $$  __$$\       \$$$$$$\  $$ |$$  __$$\ $$  __$$\   $$ |  $$  __$$\ 
$$ |     $$ /  $$ |$$ /  $$ |  $$ |  $$ |  $$ |       \____$$\ $$ |$$ /  $$ |$$ |  $$ |  $$ |  $$ |  $$ |
$$ |     $$ |  $$ |$$ |  $$ |  $$ |  $$ |  $$ |      $$\   $$ |$$ |$$ |  $$ |$$ |  $$ |  $$ |  $$ |  $$ |
$$$$$$$$\\$$$$$$  |\$$$$$$$ |$$$$$$\ $$ |  $$ |      \$$$$$$  |$$ |\$$$$$$$ |$$ |  $$ |$$$$$$\ $$ |  $$ |
\________|\______/  \____$$ |\______|\__|  \__|       \______/ \__| \____$$ |\__|  \__|\______|\__|  \__|
                   $$\   $$ |                                      $$\   $$ |                            
                   \$$$$$$  |                                      \$$$$$$  |                            
                    \______/                                        \______/                             
              
*/

.logIn {
  min-height: 90vh;
  display: flex;
  margin-top: 0;
}

/* containers */
.auth-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.auth-container h2 span {
  color: var(--white);
  font-size: 26px;
  padding-inline: 50px;
}

.card-3d-wrap * {
  /* font-size: 18px; */
  color: #161516;
}

.card-3d-wrap {
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
}

.card-3d-wrap h3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-signUp {
  width: 100%;
  min-height: 80%;
  background: var(--white);
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 3px 30px 0 rgba(241, 201, 242, 0.703);
  transform-origin: center top;
}

.card-signUp {
  transform: rotateY(180deg);

}

.center-wrap {
  padding: 30px;
  display: block;
}

/* texts */
.auth-container h2 {
  text-align: center;
  color: var(--white);
  font-size: 20px;
}

.auth-container p {
  margin: 22px auto 10px;
  text-align: center;
}

.auth-container span {
  padding: 0 20px;
}

/* BUTTONS */

.googleAuth-btn {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px rgba(173, 173, 173, 0.632);
  background-color: #f8f8f8;
}

.googleAuth-btn:hover {
  background-color: #dadada;
}

.googleAuth-btn a {
  color: #000;
  font-size: 16px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.auth-btn {
  margin: 20px;
  padding: 20px;
  font-size: 24px;

  background: var(--orange);
  color: var(--white);

  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;

  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}

.auth-btn:hover {
  background-color: rgb(162, 43, 162);
  color: var(--white);
  cursor: pointer;
  padding-left: 40px;
}

.auth-btn:after {
  content: " »";
  font-size: 24px;
  /* position: absolute; */
  opacity: 0;
  top: 14px;
  transition: 0.6s;
}

.auth-btn:hover:after {
  opacity: 1;
  right: 10px;
}

/* FORMS */

.auth-container form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.logIn label {
  padding: 6px 0;
  font-weight: 500;
  font-size: 20px;
}

.logIn input {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px grey;
}

.logIn input:invalid {
  border: solid 1px var(--orange);
  background-color: rgba(255, 0, 0, 0.1);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 150px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #9a6593;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--orange);
  content: "";
  top: -10px;
  left: -10px;
  transition: all 0.5s ease;
}

/* fot the ball to go as far as the end of the lable */
.checkbox:checked + label:before {
  transform: translateX(130px);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.pwd-reset-link {
  margin-top: 10px;
  color: purple;
  text-decoration: none;
}

/* PAYMENT */

 #show-pwd-btn {
  font-size: 17px;
  background: none;
  border: none;
  font-family: var(--main-font);
  float: right;
  text-align: right;
}

#show-pwd-btn:hover {
  cursor: pointer;
}

#eyeToggle {
  color: #654f63;
}

.ligneGoogle {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid grey;
  position: relative;
}

.ligneGoogle div {
  position: absolute;
  padding: 0 16px;
  color: grey;
  background: var(--white);
  text-shadow: 0 1px 0 var(--white);
  top: -10px;
  left: 40%;
}

