:root {
  /* COLORS */
  --surface-color: #301f2e;
  --background-dark: #2c3231;
  --white: #ffffff;
  --red-Navbar: #741135;

  /* SHADOWS */
  --blue-shadow: 0 4px 44px 0 rgba(125, 17, 53, 0.1);
  --red-shadow: 0 4px 14px 0 rgba(255, 109, 109, 0.712);

  /* FONTS */
  --title-font: "Chakra Petch";
  --main-font: "sans-serif";

  /* RADIUS */
  /* --small-radius: 5px; */
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Chakra Petch", sans-serif;
  color: var(--white);
  background-image: linear-gradient(var(--background-dark), #161516);
  /* background-color: var(--background-dark);; */
}

/* DESKTOP */
.navbar-desktop {
  background-color: #322c32;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
  text-align: center;
  width: 100%;
  z-index: 1;
  gap: 20px;
  border-bottom: solid white;
}

.navbar-desktop a {
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.navbar-desktop a:hover {
  text-decoration: underline;
}

.navbar-desktop input {
  font-size: 26px;
  height: 36px;
  border: #fff;
  border-radius: 5px;
  background-color:#454545;
  color: #fff;
  padding: 5px;
}

input::placeholder {
  color: rgba(35, 35, 35, 0.555);
  font-size: 18px;
  padding-left: 10px;
  font-family: "Chakra Petch", sans-serif;
}

.navbar-desktop button {
  font-size: 26px;
  background-color: #454545;
  padding: 2px;
  border-radius: 5px;
  border: #fff;
  font-family: "Chakra Petch", sans-serif;
}

.navbar-desktop button:hover {
  background-color: rgb(114, 79, 106);
  cursor: pointer;
}

/* MOBILE */
.navbar-mobile {
  display: none;
  margin-bottom: 1px;
}
.navbar-mobile a {
  text-decoration: none;
}

.navbar-mobile a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.modal {
  transition: top 0.9s;
  /* background-color: rgb(116, 17, 53); */
  background-color: #5d2043;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.98;
  z-index: 1;
}

#logoSymbol {
  color: #fff;
}

.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
  font-size: 50px;
  font-weight: 800;
  color: #f5f5dc;
  padding: 20px;
}
.change-modal {
  top: 0;
}

/* CONTAINERS */
/* .container {
  color: beige;
} */

/* ERRROR PAGE */
.error {
  padding: 0px;
  text-align: center;
  color: white;
}
/* error image */
#error {
  width: 100vw;
}

.error a {
  color: #f2e3cf;
  text-decoration: none;
  position: absolute;

  bottom: 8px;
  right: 16px;
}

/* HOMEPAGE */

.home {
  box-sizing: border-box;
  margin-inline: 150px;
}

.home h1 {
  text-align: center;
  padding: 20px;

  /* NEON */
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px rgb(99, 10, 80),
    0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80),
    0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469),
    0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

.cards {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: 10px;
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  /* ici pour changer taille detail area */
  padding: 20px;
  background-color:var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

/* img user */
.card__avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__userName {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #fff7f9;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: #ffd4e9;
}

.card__status {
  font-size: 0.8em;
  color: #dbb5df;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  display: -webkit-box;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1160px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}

/* ABOUT */

.about {
  margin: 50px;
}

.logo-contact {
  text-decoration: none;
}

#logoTitre {
  width: 50px;
  display: flex;
  margin: 0;
}

footer {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 100px;
  border-radius: 50px;
}
.logo-contact img {
  width: 100px;
  padding-inline: 20px;
}

.about h1 {
  display: flex;
  position: relative;
  justify-content: left;
  align-items:center;

  /* neon */
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px rgb(99, 10, 80),
    0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80),
    0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469),
    0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}


/* GAMES */

.games h1 {
  display: flex;
  position: relative;
  justify-content: left;
  align-items:center;

  /* neon */
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px rgb(99, 10, 80),
    0 0 20px rgb(99, 10, 80),
    0 0 40px rgb(99, 10, 80),
    0 0 80px rgba(250, 0, 196, 0.469),
    0 0 90px rgba(250, 0, 196, 0.469),
    0 0 100px rgba(250, 0, 196, 0.469),
    0 0 150px rgba(250, 0, 196, 0.469);
}

.games{
  margin: 50px;
}

/* PREMIUM */
.premium-container {
  width: 400px;
  margin : auto;
  display: flex;
  flex-direction: column;
}
.purchase-choice{
}

.premium-choice-btn{
}

.pay-abo {
  background-color: #04ca04;
  border-radius: 5px;
  padding: 8px;
  border: none;
  color: black;
  text-decoration: none;
}

/* PAYMENT */